.loc-page h1{
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 15px;
}

.location{
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  
    
}

.space1_1{
    height: 55px
}

h1{
    text-align: center;
}
.col-lg-12{
    padding: 0 10px;
    width: 100%;
    /* border-style: solid;
    border-width: 1px; */
}
iframe{
    border:0; 
}
.location-finder{
    /* border-style: dashed;
    border-color: pink; */
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    border: solid 1px #c3c5c9;
}



.list_container {
    position: relative;
    border-radius: 4px 0 4px 0;
    background-clip: padding-box;
    float: left;
    width: 40%;
    height: 750px;
    overflow-y: auto;
    position: relative;
    z-index: 999;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);


}

/*------------------*/
.location-finder article{
    width: 100%;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    border-top: solid 1px #c3c5c9;
    float: left;


}

.location-finder img{
    float: left;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 5px;
}
.location-finder .loc_desc{
     text-align: center;
}


.location-finder .loc_desc h3{
    margin-bottom: 10px;
}

.location-finder .loc_desc p{
    margin-bottom: 10px;
}

.right-side{
    float: left;
    width: 60%;
    position: relative;
}


span{
    color: rgb(75, 77, 80); 
    
     font-size: 17px; 
     white-space: pre-wrap;

}



.mCSB_container{
    position:relative;  top:0;
    height:100%;
     overflow:hidden; 
     max-width:100%;

}

